<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net471" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net471" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net471" />
  <package id="CefSharp.OffScreen" version="69.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.8.4" targetFramework="net471" />
  <package id="StreamExtended" version="1.0.190" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Titanium.Web.Proxy" version="3.0.684" targetFramework="net471" />
</packages>